In [251]:
import pandas as pd

In [252]:
import numpy as np

In [253]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [254]:
data = pd.read_csv('E:\BaiduNetdiskDownload/000001.csv') # 导入下载的csv文件的数据
data # 查看文件中的数据

             Day  Preclose      Open   Highest    Lowest     Close
0     1990/12/19              96.050    99.980    95.790    99.980
1     1990/12/20     99.98   104.300   104.390    99.980   104.390
2     1990/12/21    104.39   109.070   109.130   103.730   109.130
3     1990/12/24    109.13   113.570   114.550   109.130   114.550
4     1990/12/25    114.55   120.090   120.250   114.550   120.250
...          ...       ...       ...       ...       ...       ...
8468   2025/8/25  3825.759  3848.163  3883.562  3839.972  3883.562
8469   2025/8/26  3883.562  3871.471  3888.599  3859.758  3868.382
8470   2025/8/27  3868.382  3869.612  3887.198  3800.350  3800.350
8471   2025/8/28   3800.35  3796.711  3845.087  3761.422  3843.597
8472   2025/8/29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 6 columns]

In [255]:
%%time
data = pd.read_csv('E:\BaiduNetdiskDownload/000001.csv')#导入数据并查看数据，查看运行时间
data

Wall time: 9.5 ms

             Day  Preclose      Open   Highest    Lowest     Close
0     1990/12/19              96.050    99.980    95.790    99.980
1     1990/12/20     99.98   104.300   104.390    99.980   104.390
2     1990/12/21    104.39   109.070   109.130   103.730   109.130
3     1990/12/24    109.13   113.570   114.550   109.130   114.550
4     1990/12/25    114.55   120.090   120.250   114.550   120.250
...          ...       ...       ...       ...       ...       ...
8468   2025/8/25  3825.759  3848.163  3883.562  3839.972  3883.562
8469   2025/8/26  3883.562  3871.471  3888.599  3859.758  3868.382
8470   2025/8/27  3868.382  3869.612  3887.198  3800.350  3800.350
8471   2025/8/28   3800.35  3796.711  3845.087  3761.422  3843.597
8472   2025/8/29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 6 columns]

In [256]:
data['Day'] = pd.to_datetime(data['Day'],format='%Y/%m/%d')#指定日期的输出格式为年/月/日

In [257]:
data = data.sort_values(by=['Day'], axis=0, ascending=True)#按找day日期的升序排列/False则是降序排列

In [258]:
data.set_index('Day', inplace = True)#建立有关日期的索引

In [259]:
data

            Preclose      Open   Highest    Lowest     Close
Day
1990-12-19              96.050    99.980    95.790    99.980
1990-12-20     99.98   104.300   104.390    99.980   104.390
1990-12-21    104.39   109.070   109.130   103.730   109.130
1990-12-24    109.13   113.570   114.550   109.130   114.550
1990-12-25    114.55   120.090   120.250   114.550   120.250
...              ...       ...       ...       ...       ...
2025-08-25  3825.759  3848.163  3883.562  3839.972  3883.562
2025-08-26  3883.562  3871.471  3888.599  3859.758  3868.382
2025-08-27  3868.382  3869.612  3887.198  3800.350  3800.350
2025-08-28   3800.35  3796.711  3845.087  3761.422  3843.597
2025-08-29  3843.597  3842.823  3867.606  3839.206  3857.927

[8473 rows x 5 columns]

In [260]:
data_new = data['1995-01':'2025-08'].copy()#创建一个原数据1995年1月到2025年8月数据的独立副本，则修改data_new的数据不会对原数据产生影响
data_new

            Preclose      Open   Highest    Lowest     Close
Day
1995-01-03    647.87   637.720   647.710   630.530   639.880
1995-01-04    639.88   641.900   655.510   638.860   653.810
1995-01-05    653.81   655.380   657.520   645.810   646.890
1995-01-06    646.89   642.750   643.890   636.330   640.760
1995-01-09    640.76   637.520   637.550   625.040   626.000
...              ...       ...       ...       ...       ...
2025-08-25  3825.759  3848.163  3883.562  3839.972  3883.562
2025-08-26  3883.562  3871.471  3888.599  3859.758  3868.382
2025-08-27  3868.382  3869.612  3887.198  3800.350  3800.350
2025-08-28   3800.35  3796.711  3845.087  3761.422  3843.597
2025-08-29  3843.597  3842.823  3867.606  3839.206  3857.927

[7445 rows x 5 columns]

In [261]:
data_new['Close'] = pd.to_numeric(data_new['Close'])
data_new['Preclose'] = pd.to_numeric(data_new['Preclose'])#将data_new中的Close列从文本转换为浮点数，preclose列从文本转换为浮点数

In [262]:
data_new

            Preclose      Open   Highest    Lowest     Close
Day
1995-01-03   647.870   637.720   647.710   630.530   639.880
1995-01-04   639.880   641.900   655.510   638.860   653.810
1995-01-05   653.810   655.380   657.520   645.810   646.890
1995-01-06   646.890   642.750   643.890   636.330   640.760
1995-01-09   640.760   637.520   637.550   625.040   626.000
...              ...       ...       ...       ...       ...
2025-08-25  3825.759  3848.163  3883.562  3839.972  3883.562
2025-08-26  3883.562  3871.471  3888.599  3859.758  3868.382
2025-08-27  3868.382  3869.612  3887.198  3800.350  3800.350
2025-08-28  3800.350  3796.711  3845.087  3761.422  3843.597
2025-08-29  3843.597  3842.823  3867.606  3839.206  3857.927

[7445 rows x 5 columns]

In [263]:
data_new['Raw_return'] = data_new['Close'] / data_new['Preclose'] - 1#Rt=Pt-Pt-1/Pt-1，收益率的计算公式/日度收益率

In [264]:
data_new['Log_return'] = np.log(data_new['Close']) - np.log(data_new['Preclose'])#使用numpy库的对数函数，将收益率转化为对数形式

In [265]:
data_new#查看计算结果

,Preclose,Open,Highest,Lowest,Close,Raw_return,Log_return
Day,,,,,,,
1995-01-03,647.870,637.720,647.710,630.530,639.880,-0.012333,-0.012409
1995-01-04,639.880,641.900,655.510,638.860,653.810,0.021770,0.021536
1995-01-05,653.810,655.380,657.520,645.810,646.890,-0.010584,-0.010641
1995-01-06,646.890,642.750,643.890,636.330,640.760,-0.009476,-0.009521
1995-01-09,640.760,637.520,637.550,625.040,626.000,-0.023035,-0.023305
...,...,...,...,...,...,...,...
2025-08-25,3825.759,3848.163,3883.562,3839.972,3883.562,0.015109,0.014996
2025-08-26,3883.562,3871.471,3888.599,3859.758,3868.382,-0.003909,-0.003916
2025-08-27,3868.382,3869.612,3887.198,3800.350,3800.350,-0.017587,-0.017743
2025-08-28,3800.350,3796.711,3845.087,3761.422,3843.597,0.011380,0.011315
2025-08-29,3843.597,3842.823,3867.606,3839.206,3857.927,0.003728,0.003721

In [266]:
data_new1 = data_new.copy()#建立data_new的独立副本

In [267]:
data_new1['year'] = data_new1.index.year
data_new1['month'] = data_new1.index.month#建立有关年月的日期索引

In [268]:
Month_data1 = data_new1.groupby(['year', 'month'])['Log_return'].sum().to_frame()#按年份和月份分组，计算每组内的对数是收益率的综合
Month_data1['Raw_Return'] = np.exp(Month_data1['Log_return']) - 1#推导原始收益率

In [269]:
Month_data1#展示推导结果

            Log_return  Raw_Return
year month
1995 1       -0.141139   -0.131631
     2       -0.023979   -0.023694
     3        0.163651    0.177803
     4       -0.109315   -0.103552
     5        0.188901    0.207922
...                ...         ...
2025 4       -0.017148   -0.017002
     5        0.020662    0.020877
     6        0.028547    0.028959
     7        0.036707    0.037389
     8        0.076666    0.079682

[368 rows x 2 columns]

In [272]:
Quarter_data1 = data_new.resample('QE')['Close'].last().to_frame()#季度收益的计算。/提取每个季度的收盘价并将其转换格式

ValueError: Invalid frequency: QE

In [276]:
Quarter_data1['Preclose'] = Quarter_data1['Close'].shift(1)#在季度数据中添加preclose列

NameError: name 'Quarter_data1' is not defined

In [ ]:
Quarter_data1['Raw_return'] = Quarter_data1['Close'] / Quarter_data1['Preclose'] - 1#计算原始收益率

In [ ]:
Quarter_data1['Log_return'] = np.log(Quarter_data1['Close']) - np.log(Quarter_data1['Preclose'])#计算对数收益率

In [ ]:
print("季度末价格计算的收益率:")
Quarter_data1

In [277]:
data_new2 = data_new.copy()#建立data_new的数据独立副本

In [278]:
data_new2['year'] = data_new2.index.year#建立日期索引

In [279]:
Year_data1 = data_new2.groupby('year')['Log_return'].sum().to_frame()#按年份分组计算每个年份内的收益率综合

In [280]:
Year_data1['Raw_Return'] = np.exp(Year_data1['Log_return']) - 1#计算原始收益率以及对数收益率

In [281]:
print("\n使用groupby计算的年度收益率:")
Year_data1

使用groupby计算的年度收益率:

      Log_return  Raw_Return
year
1995   -0.154200   -0.142899
1996    0.501639    0.651425
1997    0.264019    0.302153
1998   -0.040505   -0.039695
1999    0.175423    0.191750
2000    0.416917    0.517277
2001   -0.230898   -0.206180
2002   -0.192575   -0.175167
2003    0.097735    0.102670
2004   -0.167233   -0.153997
2005   -0.086924   -0.083253
2006    0.834792    1.304334
2007    0.676302    0.966593
2008   -1.061146   -0.653941
2009    0.587690    0.799825
2010   -0.154470   -0.143131
2011   -0.244307   -0.216753
2012    0.031203    0.031695
2013   -0.069878   -0.067493
2014    0.424412    0.528691
2015    0.089965    0.094136
2016   -0.131319   -0.123062
2017    0.063517    0.065578
2018   -0.282245   -0.245911
2019    0.201333    0.223032
2020    0.129858    0.138667
2021    0.046884    0.048001
2022   -0.163991   -0.151250
2023   -0.037709   -0.037007
2024    0.119264    0.126668
2025    0.140644    0.151014

In [285]:
rolling_returns = pd.DataFrame()#初始化dataframe用于储存后续不同窗口的收益率
for window in [5, 10, 20, 30, 60]:#以5，10，20，30，60为滚动窗口的时间窗口
    rolling_log_return = data_new['Log_return'].rolling(window=window).sum()#计算滚动窗口内的原始收益率
    rolling_returns[f'Rolling_{window}d_Return'] = np.exp(rolling_log_return) - 1#计算对应对数收益率

In [286]:
print("滚动收益率:")
print(rolling_returns.tail())

滚动收益率:
            Rolling_5d_Return  Rolling_10d_Return  Rolling_20d_Return  \
Day
2025-08-25           0.041720            0.064705            0.079386
2025-08-26           0.037854            0.055229            0.071660
2025-08-27           0.009065            0.031732            0.051064
2025-08-28           0.019225            0.048318            0.075671
2025-08-29           0.008408            0.043594            0.083702

            Rolling_30d_Return  Rolling_60d_Return
Day
2025-08-25            0.103394            0.160143
2025-08-26            0.103676            0.150627
2025-08-27            0.084644            0.125628
2025-08-28            0.092916            0.135781
2025-08-29            0.091511            0.139592

In [ ]:
leiji_returns = pd.DataFrame()#初始化dataframe
leiji_returns['leiji_Log_Return'] = data_new['Log_return'].cumsum()#累加log_return的值计算累计对数率
leiji_returns['leiji_Return'] = np.exp(leiji_returns['leiji_Log_Return']) - 1#计算累计原始收益率

In [ ]:
leiji_returns